pyetnic/resources/SEPS_Enregistrer_Etudiant_2.1/xsd/etudiantDetails_v1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enseignement.cfwb.be/types/seps/etudiantDetails/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://enseignement.cfwb.be/types/seps/etudiantDetails/v1" version="1.0">
<xs:complexType name="EtudiantDetailsType">
<xs:sequence>
<xs:element minOccurs="0" name="niss" type="tns:NISSType"></xs:element>
<xs:element minOccurs="0" name="nom" type="tns:NomType"></xs:element>
<xs:element minOccurs="0" name="prenom" type="tns:PrenomType"></xs:element>
<xs:element maxOccurs="3" minOccurs="0" name="autrePrenom" type="tns:PrenomType"></xs:element>
<xs:element minOccurs="0" name="sexe" type="tns:SexeType"></xs:element>
<xs:element minOccurs="0" name="naissance" type="tns:NaissanceType"></xs:element>
<xs:element minOccurs="0" name="deces" type="tns:DecesType"></xs:element>
<xs:element minOccurs="0" name="adresse" type="tns:AdresseType"></xs:element>
<xs:element minOccurs="0" name="codeNationalite" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AdresseType">
<xs:sequence>
<xs:element name="rue" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="numero" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="boite" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="extension" type="xs:string"></xs:element>
<xs:element name="codePostal" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="localite" type="tns:LocaliteType"></xs:element>
<xs:element minOccurs="0" name="localiteExtension" type="xs:string"></xs:element>
<xs:element name="codePays" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NaissanceType">
<xs:sequence>
<xs:element name="date" type="tns:IncompleteDateType"></xs:element>
<xs:element name="codePays" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="localite" type="tns:LocaliteType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DecesType">
<xs:sequence>
<xs:element name="date" type="xs:date"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocaliteType">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NISSType">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{6}(\-)?[0-9]{3}(\-)?[0-9]{2}"></xs:pattern>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NomType">
<xs:restriction base="xs:string">
<xs:minLength value="1"></xs:minLength>
<xs:maxLength value="80"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PrenomType">
<xs:restriction base="xs:string">
<xs:minLength value="0"></xs:minLength>
<xs:maxLength value="50"></xs:maxLength>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SexeType">
<xs:restriction base="xs:string">
<xs:enumeration value="M"></xs:enumeration>
<xs:enumeration value="F"></xs:enumeration>
<xs:enumeration value="X"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IncompleteDateType">
<xs:restriction base="xs:string">
<xs:pattern value="[1-2][0-9]{3}(\-[0-1][0-9]\-[0-3][0-9])?"></xs:pattern>
</xs:restriction>
</xs:simpleType>
</xs:schema>