pyetnic/resources/SEPS_Enregistrer_Etudiant_2.1/xsd/SEPSEnregistrerEtudiantMessages_external_v1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cfNum="http://enseignement.cfwb.be/types/seps/cfNum/v1" xmlns:et="http://enseignement.cfwb.be/types/seps/etudiant/v1" xmlns:tns="http://ws.etnic.be/seps/enregistrerEtudiant/messages/v1" xmlns:ext="http://etnic.be/types/technical/external/v1" xmlns:etd="http://enseignement.cfwb.be/types/seps/etudiantDetails/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.etnic.be/seps/enregistrerEtudiant/messages/v1" version="1.0">
<xs:import namespace="http://enseignement.cfwb.be/types/seps/cfNum/v1" schemaLocation="cfNum_v1.xsd"></xs:import>
<xs:import namespace="http://enseignement.cfwb.be/types/seps/etudiant/v1" schemaLocation="etudiant_v1.xsd"></xs:import>
<xs:import namespace="http://enseignement.cfwb.be/types/seps/etudiantDetails/v1" schemaLocation="etudiantDetails_v1.xsd"></xs:import>
<xs:import namespace="http://etnic.be/types/technical/external/v1" schemaLocation="external_v1.xsd"></xs:import>
<xs:element name="modifierEtudiant" type="tns:ModifierEtudiantRequeteType"></xs:element>
<xs:element name="modifierEtudiantReponse" type="tns:ModifierEtudiantReponseType"></xs:element>
<xs:element name="enregistrerEtudiant" type="tns:EnregistrerEtudiantRequeteType"></xs:element>
<xs:element name="enregistrerEtudiantReponse" type="tns:EnregistrerEtudiantReponseType"></xs:element>
<xs:complexType name="ModifierEtudiantRequeteType">
<xs:sequence>
<xs:element name="cfNum" type="cfNum:cfNumType"></xs:element>
<xs:element minOccurs="0" name="etudiantDetails" type="etd:EtudiantDetailsType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ModifierEtudiantReponseType">
<xs:complexContent>
<xs:extension base="ext:AbstractExternalResponseType">
<xs:sequence>
<xs:element minOccurs="0" name="response">
<xs:complexType>
<xs:sequence>
<xs:element name="etudiantDetails" type="et:EtudiantType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="EnregistrerEtudiantRequeteType">
<xs:sequence>
<xs:element name="modeEnregistrement" type="tns:ModeEnregistrement"></xs:element>
<xs:element minOccurs="0" name="doubleFlag" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="createBisFlag" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="etudiantDetails" type="etd:EtudiantDetailsType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EnregistrerEtudiantReponseType">
<xs:complexContent>
<xs:extension base="ext:AbstractExternalResponseType">
<xs:sequence>
<xs:element minOccurs="0" name="response">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="etudiant" type="et:EtudiantType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="ModeEnregistrement">
<xs:restriction base="xs:string">
<xs:enumeration value="NISS"></xs:enumeration>
<xs:enumeration value="DETAILS"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>