pyetnic/resources/SEPS_Recherche_Étudiants_2.1/SEPSRechercheEtudiantsService_external_v1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:req="http://etnic.be/types/technical/requestId/v1" xmlns:msg="http://ws.etnic.be/seps/rechercheEtudiants/messages/v1" xmlns:tns="http://ws.etnic.be/seps/rechercheEtudiants/v1" name="SEPSRechercheEtudiantsServiceExternalV1" targetNamespace="http://ws.etnic.be/seps/rechercheEtudiants/v1">
  <wsdl:types>
    <xs:schema>
			<xs:import namespace="http://ws.etnic.be/seps/rechercheEtudiants/messages/v1" schemaLocation="xsd/SEPSRechercheEtudiantsMessages_external_v1.xsd"></xs:import>
			<xs:import namespace="http://etnic.be/types/technical/requestId/v1" schemaLocation="xsd/requestId_v1.xsd"></xs:import>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="LireEtudiantRequeteMessage">
    <wsdl:part name="parameters" element="msg:lireEtudiant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestIdHeader">
    <wsdl:part name="requestId" element="req:requestId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LireEtudiantReponseMessage">
    <wsdl:part name="parameters" element="msg:lireEtudiantReponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RechercherEtudiantsReponseMessage">
    <wsdl:part name="parameters" element="msg:rechercherEtudiantsReponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RechercherEtudiantsRequeteMessage">
    <wsdl:part name="parameters" element="msg:rechercherEtudiants">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SEPSRechercheEtudiantsV1PortType">
    <wsdl:operation name="lireEtudiant">
      <wsdl:input message="tns:LireEtudiantRequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:LireEtudiantReponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechercherEtudiants">
      <wsdl:input message="tns:RechercherEtudiantsRequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:RechercherEtudiantsReponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SEPSRechercheEtudiantsV1ExternalBinding" type="tns:SEPSRechercheEtudiantsV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="lireEtudiant">
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechercherEtudiants">
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service_seps_rechercheEtudiants_external_v1">
    <wsdl:port name="SEPSRechercheEtudiantsV1ExternalPort" binding="tns:SEPSRechercheEtudiantsV1ExternalBinding">
      <soap:address location="https://ws-tq.etnic.be/seps/rechercheEtudiants/v1"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>