pyetnic/resources/SEPS_Enregistrer_Inscription_2.1/SEPSEnregistrerInscriptionService_external_v1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:req="http://etnic.be/types/technical/requestId/v1" xmlns:msg="http://ws.etnic.be/seps/enregistrerInscription/messages/v1" xmlns:tns="http://ws.etnic.be/seps/enregistrerInscription/v1" name="SEPSEnregistrerInscriptionServiceExternalv1" targetNamespace="http://ws.etnic.be/seps/enregistrerInscription/v1">
  <wsdl:types>
    <xs:schema>
            <xs:import namespace="http://ws.etnic.be/seps/enregistrerInscription/messages/v1" schemaLocation="xsd/SEPSEnregistrerInscriptionMessages_external_v1.xsd"></xs:import>
            <xs:import namespace="http://etnic.be/types/technical/requestId/v1" schemaLocation="xsd/requestId_v1.xsd"></xs:import>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="EnregistrerInscriptionRequeteMessage">
    <wsdl:part name="parameters" element="msg:enregistrerInscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModifierInscriptionReponseMessage">
    <wsdl:part name="parameters" element="msg:modifierInscriptionReponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModifierInscriptionRequeteMessage">
    <wsdl:part name="parameters" element="msg:modifierInscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestIdHeader">
    <wsdl:part name="requestId" element="req:requestId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnregistrerInscriptionReponseMessage">
    <wsdl:part name="parameters" element="msg:enregistrerInscriptionReponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SEPSEnregistrerInscriptionV1PortType">
    <wsdl:operation name="modifierInscription">
      <wsdl:input message="tns:ModifierInscriptionRequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:ModifierInscriptionReponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enregistrerInscription">
      <wsdl:input message="tns:EnregistrerInscriptionRequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:EnregistrerInscriptionReponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SEPSEnregistrerInscriptionV1ExternalBinding" type="tns:SEPSEnregistrerInscriptionV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="modifierInscription">
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enregistrerInscription">
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service_seps_enregistrerInscription_external_v1">
    <wsdl:port name="SEPSEnregistrerInscriptionV1ExternalPort" binding="tns:SEPSEnregistrerInscriptionV1ExternalBinding">
      <soap:address location="https://ws-tq.etnic.be/seps/enregistrerInscription/v1"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>