pyetnic/resources/EpromFormationDocument1Service_external_v1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:req="http://etnic.be/types/technical/requestId/v1" xmlns:tns="http://services-web.etnic.be/eprom/formation/document1/v1" xmlns:eprom="http://services-web.etnic.be/eprom/formation/document1/messages/v1" name="EPROMFormationDocument1V1ExternalService" targetNamespace="http://services-web.etnic.be/eprom/formation/document1/v1">
  <wsdl:types>
    <xs:schema>
			<xs:import namespace="http://services-web.etnic.be/eprom/formation/document1/messages/v1" schemaLocation="xsd/EpromFormationDocument1Messages_external_v1.xsd"></xs:import>
			<xs:import namespace="http://etnic.be/types/technical/requestId/v1" schemaLocation="xsd/requestId_v1.xsd"></xs:import>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="ModifierDocument1ReponseMessage">
    <wsdl:part name="parameter" element="eprom:ModifierDocument1Reponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ApprouverDocument1RequeteMessage">
    <wsdl:part name="parameter" element="eprom:ApprouverDocument1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LireDocument1ReponseMessage">
    <wsdl:part name="parameter" element="eprom:LireDocument1Reponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ApprouverDocument1ReponseMessage">
    <wsdl:part name="parameter" element="eprom:ApprouverDocument1Reponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModifierDocument1RequeteMessage">
    <wsdl:part name="parameter" element="eprom:ModifierDocument1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestIdHeader">
    <wsdl:part name="requestId" element="req:requestId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LireDocument1RequeteMessage">
    <wsdl:part name="parameter" element="eprom:LireDocument1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EPROMFormationDocument1ExternalV1PortType">
    <wsdl:operation name="LireDocument1">
      <wsdl:input message="tns:LireDocument1RequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:LireDocument1ReponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierDocument1">
      <wsdl:input message="tns:ModifierDocument1RequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:ModifierDocument1ReponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApprouverDocument1">
      <wsdl:input message="tns:ApprouverDocument1RequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:ApprouverDocument1ReponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPROMFormationDocument1ExternalV1Binding" type="tns:EPROMFormationDocument1ExternalV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="LireDocument1">
      <soap:operation soapAction="http://services-web.etnic.be/eprom/formation/document1/v1/LireDocument1"></soap:operation>
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierDocument1">
      <soap:operation soapAction="http://services-web.etnic.be/eprom/formation/document1/v1/ModifierDocument1"></soap:operation>
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApprouverDocument1">
      <soap:operation soapAction="http://services-web.etnic.be/eprom/formation/document1/v1/ApprouverDocument1"></soap:operation>
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service_eprom_formation_document1_external_v1">
    <wsdl:port name="EPROMFormationDocument1ExternalV1Port" binding="tns:EPROMFormationDocument1ExternalV1Binding">
      <soap:address location="https://services-web.tq.etnic.be/eprom/formation/document1/v1"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>