pyetnic/resources/EpromFormationDocument2Service_external_v1.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:req="http://etnic.be/types/technical/requestId/v1" xmlns:tns="http://services-web.etnic.be/eprom/formation/document2/v1" xmlns:eprom="http://services-web.etnic.be/eprom/formation/document2/messages/v1" name="EPROMFormationDocument2V1ExternalService" targetNamespace="http://services-web.etnic.be/eprom/formation/document2/v1">
  <wsdl:types>
    <xs:schema>
			<xs:import namespace="http://services-web.etnic.be/eprom/formation/document2/messages/v1" schemaLocation="xsd/EpromFormationDocument2Messages_external_v1.xsd"></xs:import>
			<xs:import namespace="http://etnic.be/types/technical/requestId/v1" schemaLocation="xsd/requestId_v1.xsd"></xs:import>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="LireDocument2RequeteMessage">
    <wsdl:part name="parameter" element="eprom:LireDocument2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestIdHeader">
    <wsdl:part name="requestId" element="req:requestId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModifierDocument2ReponseMessage">
    <wsdl:part name="parameter" element="eprom:ModifierDocument2Reponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ModifierDocument2RequeteMessage">
    <wsdl:part name="parameter" element="eprom:ModifierDocument2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LireDocument2ReponseMessage">
    <wsdl:part name="parameter" element="eprom:LireDocument2Reponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EPROMFormationDocument2ExternalV1PortType">
    <wsdl:operation name="LireDocument2">
      <wsdl:input message="tns:LireDocument2RequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:LireDocument2ReponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierDocument2">
      <wsdl:input message="tns:ModifierDocument2RequeteMessage">
    </wsdl:input>
      <wsdl:output message="tns:ModifierDocument2ReponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPROMFormationDocument2ExternalV1Binding" type="tns:EPROMFormationDocument2ExternalV1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="LireDocument2">
      <soap:operation soapAction="http://services-web.etnic.be/eprom/formation/document2/v1/LireDocument2"></soap:operation>
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierDocument2">
      <soap:operation soapAction="http://services-web.etnic.be/eprom/formation/document2/v1/ModifierDocument2"></soap:operation>
      <wsdl:input>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="false">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:RequestIdHeader" part="requestId" use="literal" wsdl:required="true">
        </soap:header>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service_eprom_formation_document2_external_v1">
    <wsdl:port name="EPROMFormationDocument2ExternalV1Port" binding="tns:EPROMFormationDocument2ExternalV1Binding">
      <soap:address location="https://services-web.tq.etnic.be:11443/eprom/formation/document2/v1"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>